.line {
  width: 3px;
  height: 200px;
  background: #717171;
  border-radius: 50px;
  background: -webkit-linear-gradient(#9c9c9c, black);
  background: -o-linear-gradient(#9c9c9c, black);
  background: -moz-linear-gradient(#9c9c9c, black);
  background: linear-gradient(#9c9c9c, black);
}